<aside class="sidebar">
  <div class="dashboard-side">
    <ul>
      <li class="{{ id == "accounts.profile" ? "active" }}"><a href="/accounts/profile"><i class="ti-dashboard"></i> Dashboard</a></li>
      <li class="{{ id == "actions.transfer-money" ? "active" }}"><a href="/actions/transfer-money"><i class="ti-new-window"></i> Transfer Money</a></li>
      <li class="{{ id == "actions.pay-online" ? "active" }}"><a href="/actions/pay-online"><i class="ti-wallet"></i> Pay Online</a></li>
      <li class="{{ id == "actions.recharge-phone" ? "active" }}"><a href="/actions/recharge-phone"><i class="ti-credit-card"></i> Recharge Phone</a></li>
      <li class="{{ id == "actions.exchange-rates" ? "active" }}"><a href="/actions/exchange-rates"><i class="ti-money"></i> Exchange Rates</a></li>
      <li class="{{ id == "actions.transactions" ? "active" }}"><a href="/actions/transactions"><i class="ti-stats-up"></i> Transactions</a></li>
      <li class="{{ id == "accounts.settings" ? "active" }}"><a href="/accounts/settings"><i class="ti-settings"></i> Settings</a></li>
    </ul>
  </div>
  <div class="dashboard-support">
    <div class="support-inner">
      <div class="help-support">
        <i class="flaticon-107-speech-bubbles"></i>
        <a href="/contact"><span class="help-text">Need Help?</span></a>
      </div>
    </div>
  </div>
</aside>
