<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{ app.url }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ app.description }}">
  <meta name="keywords" content="{{ app.keywords }}">
  <meta name="author" content="{{ app.author }}">
  <title>{{ app.name|title }} {{ title }}</title>
  <link rel="icon" href="/resources/common/assets/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/node_modules/halfmoon/css/halfmoon.min.css">
  <link rel="stylesheet" href="/resources/common/assets/css/style.css">
</head>
<body class="dark-mode with-custom-css-scrollbars with-custom-webkit-scrollbars">
  {% block base_content %}{% endblock %}
  <script src="/node_modules/halfmoon/js/halfmoon.min.js"></script>
  <script src="/resources/common/assets/js/script.js"></script>
</body>
</html>
