{% extends "@admin/layouts/sub-2.twig" %}

{% set id = "categories.single" %}
{% set title = category.title|title ~ " | Categories" %}

{% block sub_content %}
<div class="container-fluid">
  <div class="row row-eq-spacing align-items-center">
    <div class="col-12 col-sm-auto mb-20 mb-sm-0">
      <a href="#" id="back" class="btn">
        <i class="fa fa-chevron-left mr-5"></i> Back
      </a>
    </div>
    <div class="col-12 col-sm-auto">
      <h4 class="my-0">
        <i class="fa fa-cube mr-5"></i> {{ category.title }}
      </h4>
    </div>
  </div>
  <div class="row row-eq-spacing">
    <div class="col-12 col-sm-6 col-lg-3 mb-20 mb-sm-0">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-check mr-5"></i> Update Category
        </h1>
        <form action="/admin/categories/update" method="post">
          <input type="hidden" name="id" value="{{ category.id }}">
          <div class="form-group">
            <label for="title" class="required">Enter title</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Title" maxlength="191" value="{{ category.title }}" required>
          </div>
          <div class="form-group">
            <label for="subtitle">Enter subtitle</label>
            <input type="text" name="subtitle" id="subtitle" class="form-control" placeholder="Subtitle" maxlength="191" value="{{ category.subtitle != "false" ? category.subtitle }}">
          </div>
          <div class="form-group">
            <label for="section-id" class="required">Choose section</label>
            <select name="section-id" id="section-id" class="form-control" required>
              <option value="{{ category.section.id }}" hidden selected>{{ category.section.title }}</option>
              {% for item in sections %}
                <option value="{{ item.id }}">{{ item.title }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="description">Enter description</label>
            <textarea name="description" id="description" class="form-control h-200" placeholder="Description">{{ category.description != "false" ? category.description }}</textarea>
            <div class="form-text">
              <small>Markdown supported</small>
            </div>
          </div>
          <div class="text-right">
            <button class="btn">
              <i class="fa fa-check mr-5"></i> Update
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-9">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-cube mr-5"></i> {{ category.title }}
        </h1>
        {% if category.description != "false" %}
          {{ category.description|markdown|raw }}
        {% else %}
          <div class="text-center">
            <i class="fa fa-frown mr-5"></i> No description found!
          </div>
        {% endif %}
        <div class="text-right">
          <form action="/admin/categories/remove" method="post">
            <input type="hidden" name="id" value="{{ category.id }}">
            <button class="btn btn-danger">
              <i class="fa fa-trash-alt mr-5"></i> Remove
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
