{% extends "@admin/layouts/sub-2.twig" %}

{% set id = "images.all" %}
{% set title = "All | Images" %}

{% block modal_content %}
{% for item in images %}
  {% include "@admin/modals/image.twig" %}
{% endfor %}
{% endblock %}

{% block sub_content %}
<div class="container-fluid">
  <div class="row row-eq-spacing align-items-center">
    <div class="col-12 col-sm-auto mb-20 mb-sm-0">
      <a href="#" id="back" class="btn">
        <i class="fa fa-chevron-left mr-5"></i> Back
      </a>
    </div>
    <div class="col-12 col-sm-auto">
      <h4 class="my-0">
        <i class="fa fa-image mr-5"></i> Images
      </h4>
    </div>
  </div>
  <div class="row row-eq-spacing">
    <div class="col-12">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-image mr-5"></i> Images
        </h1>
        <div class="table-responsive mb-20">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w-25">ID</th>
                <th class="w-25">Thumbnail</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Description</th>
                <th>Section</th>
                <th class="w-25"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in images %}
                <tr>
                  <td>
                    <div class="text-wrap">{{ item.id }}</div>
                  </td>
                  <td>
                    <a href="/admin/images/all?page={{ page }}#image-{{ item.id }}">
                      <img src="/uploads/images/{{ item.file }}" alt="{{ item.file }}" class="img-fluid">
                    </a>
                  </td>
                  <td>
                    <div class="text-wrap">{{ item.title != "false" ? item.title : "N/A" }}</div>
                  </td>
                  <td>
                    <div class="text-wrap">{{ item.subtitle != "false" ? item.subtitle : "N/A" }}</div>
                  </td>
                  <td>
                    <div class="text-wrap">{{ item.description != "false" ? item.description : "N/A" }}</div>
                  </td>
                  <td>
                    <div class="text-wrap">{{ item.section.title }}</div>
                  </td>
                  <td>
                    <form action="/admin/images/remove" method="post">
                      <input type="hidden" name="id" value="{{ item.id }}">
                      <button class="btn btn-danger btn-square">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </form>
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="7">
                    <div class="text-center">
                      <i class="fa fa-frown mr-5"></i> No images found!
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <nav>
          <ul class="pagination text-center mb-0">
            {% for item in 1..pages %}
              <li class="page-item {{ item == page ? "active" }}">
                <a href="/admin/images/all?page={{ item }}" class="page-link">{{ item }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}
