{% extends "@admin/layouts/sub-2.twig" %}

{% set id = "users.all" %}
{% set title = "All | Users" %}

{% block sub_content %}
<div class="container-fluid">
  <div class="row row-eq-spacing align-items-center">
    <div class="col-12 col-sm-auto mb-20 mb-sm-0">
      <a href="#" id="back" class="btn">
        <i class="fa fa-chevron-left mr-5"></i> Back
      </a>
    </div>
    <div class="col-12 col-sm-auto">
      <h4 class="my-0">
        <i class="fa fa-users mr-5"></i> Users
      </h4>
    </div>
  </div>
  <div class="row row-eq-spacing">
    <div class="col-12">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-users mr-5"></i> Users
        </h1>
        <div class="table-responsive mb-20">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w-25">ID</th>
                <th>Status</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th class="w-25"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in users %}
                <tr>
                  <td>
                    <div class="text-wrap">{{ item.id }}</div>
                  </td>
                  <td>
                    {% if item.status %}
                      <span class="badge badge-primary">Active</span>
                    {% endif %}
                    {% if not item.status %}
                      <span class="badge badge-danger">Inactive</span>
                    {% endif %}
                  </td>
                  <td>
                    <div class="text-wrap">{{ item.first_name }}</div>
                  </td>
                  <td>
                    <div class="text-wrap">{{ item.last_name }}</div>
                  </td>
                  <td>
                    <div class="text-wrap">{{ item.email }}</div>
                  </td>
                  <td>
                    <div class="text-wrap">{{ item.phone }}</div>
                  </td>
                  <td>
                    <div class="text-wrap">{{ item.role.title }}</div>
                  </td>
                  <td>
                    <div class="d-flex">
                      {% if item.status %}
                        <form action="/admin/users/deactivate" method="post" class="mr-5">
                          <input type="hidden" name="id" value="{{ item.id }}">
                          <button class="btn btn-square">
                            <i class="fa fa-times"></i>
                          </button>
                        </form>
                      {% endif %}
                      {% if not item.status %}
                        <form action="/admin/users/activate" method="post" class="mr-5">
                          <input type="hidden" name="id" value="{{ item.id }}">
                          <button class="btn btn-square">
                            <i class="fa fa-check"></i>
                          </button>
                        </form>
                      {% endif %}
                      <form action="/admin/users/remove" method="post">
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <button class="btn btn-danger btn-square">
                          <i class="fa fa-trash-alt"></i>
                        </button>
                      </form>
                    </div>
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="8">
                    <div class="text-center">
                      <i class="fa fa-frown mr-5"></i> No users found!
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <nav>
          <ul class="pagination text-center mb-0">
            {% for item in 1..pages %}
              <li class="page-item {{ item == page ? "active" }}">
                <a href="/admin/users/all?page={{ item }}" class="page-link">{{ item }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}
