{% extends "@user/layouts/base-1.twig" %}

{% set id = "about" %}
{% set title = "About Us" %}

{% block breadcrumb_content %}
<div class="page-area">
  <div class="breadcumb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb text-center">
          <div class="section-headline white-headline text-center">
            <h3>About Us</h3>
          </div>
          <ul>
            <li class="home-bread">Home</li>
            <li>About Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block base_content %}
<div class="how-to-area bg-color area-padding">
  <div class="container">
    <div class="row">
      <div class="all-services">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="well-services">
            <div class="well-img">
              <a class="big-icon" href="#"><i class="flaticon-102-businessman"></i></a>
            </div>
            <div class="main-wel">
              <div class="wel-content">
                <h4>Create an Account</h4>
                <p>Minim liber accusata pro ne, mea id quot apeirian lisque. No melius nusquam sentias eam, usu ex prima iriure.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="well-services">
            <div class="well-img">
              <a class="big-icon" href="#"><i class="flaticon-046-bank-1"></i></a>
            </div>
            <div class="main-wel">
              <div class="wel-content">
                <h4>Attach Bank Account</h4>
                <p>Minim liber accusata pro ne, mea id quot apeirian lisque. No melius nusquam sentias eam, usu ex prima iriure.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="well-services">
            <div class="well-img">
              <a class="big-icon" href="#"><i class="flaticon-028-money"></i></a>
            </div>
            <div class="main-wel">
              <div class="wel-content">
                <h4>Send Money</h4>
                <p>Minim liber accusata pro ne, mea id quot apeirian lisque. No melius nusquam sentias eam, usu ex prima iriure.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-area bg-color2 area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="about-image">
          <img src="/resources/user/assets/images/video-background-1.jpg" alt="{{ app.name }} video" class="ab-first-img">
          <img src="/resources/user/assets/images/video-background-2.jpg" alt="{{ app.name }} video" class="ab-second-img">
          <a href="https://www.youtube.com/watch?v=O33uuBh6nXA" class="video-play vid-zone"><i class="fa fa-play"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="about-content">
          <h3>Why Choose Our World Fast Online Payment Service</h3>
          <p class="hidden-sm">Minim liber accusata pro ne, mea id quot apeirian lisque. No melius nusquam sentias eam, usu ex prima iriure. Cum velit dolorum scaevola ea, ex eos debitis omittantur</p>
          <div class="about-details">
            <div class="single-about">
              <a href="#"><i class="flaticon-079-graphic"></i></a>
              <div class="icon-text">
                <h5>Low Costing</h5>
                <p>The phrasal sequence of the Lorem Ipsum text is now so widespread that many the starting sequence</p>
              </div>
            </div>
            <div class="single-about">
              <a href="#"><i class="flaticon-007-document-2"></i></a>
              <div class="icon-text">
                <h5>Safe & Secure</h5>
                <p>The phrasal sequence of the Lorem Ipsum text is now so widespread that many the starting sequence</p>
              </div>
            </div>
            <div class="single-about">
              <a href="#"><i class="flaticon-107-speech-bubbles"></i></a>
              <div class="icon-text">
                <h5>Live Support</h5>
                <p>The phrasal sequence of the Lorem Ipsum text is now so widespread that many the starting sequence</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="reviews-area fix area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>Customer Reviews</h2>
          <p>Dummy text is also used to demonstrate the appearance of different typefaces and layouts</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="reviews-top">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="reviews-content">
            <div class="testimonial-carousel item-indicator">
              <div class="single-testi">
                <div class="testi-text">
                  <div class="clients-text">
                    <div class="client-rating">
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                    </div>
                    <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                  </div>
                  <div class="testi-img">
                    <img src="/resources/user/assets/images/avatar.png" alt="{{ app.name }} avatar">
                    <div class="guest-details">
                      <h4>Hamilton</h4>
                      <span class="guest-rev">Client - <a href="#">General Customer</a></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-testi">
                <div class="testi-text">
                  <div class="clients-text">
                    <div class="client-rating">
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                    </div>
                    <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                  </div>
                  <div class="testi-img">
                    <img src="/resources/user/assets/images/avatar.png" alt="{{ app.name }} avatar">
                    <div class="guest-details">
                      <h4>Hamilton</h4>
                      <span class="guest-rev">Client - <a href="#">General Customer</a></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-testi">
                <div class="testi-text">
                  <div class="clients-text">
                    <div class="client-rating">
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                    </div>
                    <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                  </div>
                  <div class="testi-img">
                    <img src="/resources/user/assets/images/avatar.png" alt="{{ app.name }} avatar">
                    <div class="guest-details">
                      <h4>Hamilton</h4>
                      <span class="guest-rev">Client - <a href="#">General Customer</a></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-testi">
                <div class="testi-text">
                  <div class="clients-text">
                    <div class="client-rating">
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                      <a href="#"><i class="ti-star"></i></a>
                    </div>
                    <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                  </div>
                  <div class="testi-img">
                    <img src="/resources/user/assets/images/avatar.png" alt="{{ app.name }} avatar">
                    <div class="guest-details">
                      <h4>Hamilton</h4>
                      <span class="guest-rev">Client - <a href="#">General Customer</a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overview-area bg-color2 fix area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="overview-content">
          <div class="overview-images">
            <img src="/resources/user/assets/images/overview.jpg" alt="{{ app.name }} overview">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="overview-text">
          <h3>Secure Online Shopping World Top Brand Product</h3>
          <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
          <ul>
            <li><a href="#">Innovation idea latest business tecnology</a></li>
            <li><a href="#">Digital content marketing online clients plateform</a></li>
            <li><a href="#">Safe secure services for you online email account</a></li>
          </ul>
          {% if auth.user.logged %}
            <a class="overview-btn" href="/accounts/profile">GOTO DASHBOARD</a>
          {% else %}
            <a class="overview-btn" href="/accounts/register">REGISTER TODAY</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="download-area bg-color area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="download-text">
          <h3>Download Our App of Your Mobile Phone for Service</h3>
          <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then createReplacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then createReplacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
          <div class="down-btn" data-wow-delay="0.7s">
            <a href="#" class="app-btn left-btn">Play Store</a>
            <a href="#" class="app-btn right-btn">App Store</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="download-image">
          <img src="/resources/user/assets/images/download.jpg" alt="{{ app.name }} download">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
