{% extends "@user/layouts/base-1.twig" %}

{% set id = "home" %}
{% set title = app.description|title %}

{% block base_content %}
<div class="slide-area slide-area-2 fix">
  <div class="display-table">
    <div class="display-table-cell">
      <div class="container">
        <div class="row">
          <div class="slide-text-inner">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slide-content text-center">
                <h2 class="title2">Move Money in Easy Secure Steps</h2>
                <p>Fast and easy you want to be more secure send and recives money sort time</p>
                <div class="layer-1-3">
                  <a href="/accounts/register" class="ready-btn">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="how-to-area bg-color area-padding">
  <div class="container">
    <div class="row">
      <div class="all-services">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="well-services">
            <div class="well-img">
              <a class="big-icon" href="#"><i class="flaticon-102-businessman"></i></a>
            </div>
            <div class="main-wel">
              <div class="wel-content">
                <h4>Create an Account</h4>
                <p>Minim liber accusata pro ne, mea id quot apeirian lisque. No melius nusquam sentias eam, usu ex prima iriure.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="well-services">
            <div class="well-img">
              <a class="big-icon" href="#"><i class="flaticon-046-bank-1"></i></a>
            </div>
            <div class="main-wel">
              <div class="wel-content">
                <h4>Attach Bank Account</h4>
                <p>Minim liber accusata pro ne, mea id quot apeirian lisque. No melius nusquam sentias eam, usu ex prima iriure.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="well-services">
            <div class="well-img">
              <a class="big-icon" href="#"><i class="flaticon-028-money"></i></a>
            </div>
            <div class="main-wel">
              <div class="wel-content">
                <h4>Send Money</h4>
                <p>Minim liber accusata pro ne, mea id quot apeirian lisque. No melius nusquam sentias eam, usu ex prima iriure.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-area bg-color2 area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="about-image">
          <img src="/resources/user/assets/images/video-background-1.jpg" alt="{{ app.name }} video" class="ab-first-img">
          <img src="/resources/user/assets/images/video-background-2.jpg" alt="{{ app.name }} video" class="ab-second-img">
          <a href="https://www.youtube.com/watch?v=O33uuBh6nXA" class="video-play vid-zone"><i class="fa fa-play"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="about-content">
          <h3>Why Choose Our World Fast Online Payment Service</h3>
          <p class="hidden-sm">Minim liber accusata pro ne, mea id quot apeirian lisque. No melius nusquam sentias eam, usu ex prima iriure. Cum velit dolorum scaevola ea, ex eos debitis omittantur</p>
          <div class="about-details">
            <div class="single-about">
              <a href="#"><i class="flaticon-079-graphic"></i></a>
              <div class="icon-text">
                <h5>Low Costing</h5>
                <p>The phrasal sequence of the Lorem Ipsum text is now so widespread that many the starting sequence</p>
              </div>
            </div>
            <div class="single-about">
              <a href="#"><i class="flaticon-007-document-2"></i></a>
              <div class="icon-text">
                <h5>Safe & Secure</h5>
                <p>The phrasal sequence of the Lorem Ipsum text is now so widespread that many the starting sequence</p>
              </div>
            </div>
            <div class="single-about">
              <a href="#"><i class="flaticon-107-speech-bubbles"></i></a>
              <div class="icon-text">
                <h5>24x7 Support</h5>
                <p>The phrasal sequence of the Lorem Ipsum text is now so widespread that many the starting sequence</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="services-area bg-color area-padding-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline white-headline text-center">
          <h3>Our Services Worldwide</h3>
          <p>Help agencies to define their new business objectives and then create professional software.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-service">
          <div class="service-img">
            <a class="service-icon" href="#"><i class="flaticon-048-atm"></i></a>
          </div>
          <div class="main-service">
            <div class="service-content">
              <h4>Money Transfer</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-service">
          <div class="service-img">
            <a class="service-icon" href="#"><i class="flaticon-103-buildings"></i></a>
          </div>
          <div class="main-service">
            <div class="service-content">
              <h4>Bank Deposit</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-service">
          <div class="service-img">
            <a class="service-icon" href="#"><i class="flaticon-067-shopping-cart-1"></i></a>
          </div>
          <div class="main-service">
            <div class="service-content">
              <h4>Online Shopping</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-service">
          <div class="service-img">
            <a class="service-icon" href="#"><i class="flaticon-040-mobile-phone-4"></i></a>
          </div>
          <div class="main-service">
            <div class="service-content">
              <h4>Online Payment</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-service">
          <div class="service-img">
            <a class="service-icon" href="#"><i class="flaticon-109-credit-card"></i></a>
          </div>
          <div class="main-service">
            <div class="service-content">
              <h4>Prepaid Card</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-service">
          <div class="service-img">
            <a class="service-icon" href="#"><i class="flaticon-091-mobile-phone-2"></i></a>
          </div>
          <div class="main-service">
            <div class="service-content">
              <h4>Pay Bills</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="feature-area fix area-padding-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="feature-image">
          <div class="rotmate-image rotateme">
            <img src="/resources/user/assets/images/circle.png" alt="{{ app.name }} circle">
          </div>
          <div class="top-img">
            <img src="/resources/user/assets/images/about.png" alt="{{ app.name }} about">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="row">
          <div class="feature-text-all">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="feature-text wow fadeInUp" data-wow-delay="0.2s">
                <img src="/resources/user/assets/images/feature-1.jpg" alt="{{ app.name }} feature" class="feature-img">
                <div class="featture-content">
                  <h4>Freelancer</h4>
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="feature-text wow fadeInUp" data-wow-delay="0.3s">
                <img src="/resources/user/assets/images/feature-2.jpg" alt="{{ app.name }} feature" class="feature-img">
                <div class="featture-content">
                  <h4>Online Shopping</h4>
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="feature-text wow fadeInUp" data-wow-delay="0.4s">
                <img src="/resources/user/assets/images/feature-3.jpg" alt="{{ app.name }} feature" class="feature-img">
                <div class="featture-content">
                  <h4>Pay a Friend</h4>
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="feature-text wow fadeInUp" data-wow-delay="0.5s">
                <img src="/resources/user/assets/images/feature-4.jpg" alt="{{ app.name }} feature" class="feature-img">
                <div class="featture-content">
                  <h4>Social Marketing</h4>
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
<div class="download-area bg-color2 area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="download-text">
          <h3>Download Our App of Your Mobile Phone for Service</h3>
          <p>Replacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then createReplacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then createReplacing a  maintains the amount of lines. When replacing a selection. help agencies to define their new business objectives and then create</p>
          <div class="down-btn" data-wow-delay="0.7s">
            <a href="#" class="app-btn left-btn">Play Store</a>
            <a href="#" class="app-btn right-btn">App Store</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="download-image">
          <img src="/resources/user/assets/images/download.jpg" alt="{{ app.name }} download">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
